<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=5.0"
        />
        <title>Example App</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="assets/main.css" />
        <% if ( ENV === "development" ) { %>
        <script
            type="module"
            src="web-components/dist/web-components/web-components.esm.js"
        ></script>
        <script
            nomodule
            src="web-components/dist/web-components/web-components.js"
        ></script>
        <% } %>
    </head>
    <body class="<%= page %>">

    <section class="app-title-bar">
        <div class="app-title-bar__content">
            <span class="app-title-bar__content__title"
                >Movie REST API - Demo</span
            >
            <span class="app-title-bar__content__author"
                >By Anthony Camacho</span
            >
        </div>
    </section>

    <section class="form-intro-section">
        <div class="form-intro-section__content-wrapper">
            <p class="bold-600">Please note:</p>
            <p>
                This is a demo app. At 12am daily, a cron job is scheduled to
                reset the tables in the database that stores your personal info
                and any API Keys you create. Also, your visit is not being
                tracked.
            </p>
            <p>Thanks for being here and enjoy.</p>
        </div>
    </section>
</html>
