<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="assets/imgs/favicon.ico?v=2" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=5.0"
        />
        <title>Movies API: Demo App</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="assets/main.css" />
        <script
            type="module"
            src="web-components/dist/web-components/web-components.esm.js"
        ></script>
        <script
            nomodule
            src="web-components/dist/web-components/web-components.js"
        ></script>
    </head>
    <body class="<%= page %>">

    <section class="app-title-bar">
        <div class="app-title-bar__content">
            <span class="app-title-bar__content__title"
                >Movie REST API - Demo</span
            >
            <span class="app-title-bar__content__author"
                >By Anthony Camacho</span
            >
        </div>
    </section>
</html>
