<%- include('layouts/header'); -%> <% if (isAuthenticated) { %>
    <div class="nav-bar">
        <a href="javascript:void(0);" id="log-out">Log out</a>
        <a href="/account">Account</a>
    </div>
    <% } %>
    
    <div>
        <agcamacho-api-key-form></agcamacho-api-key-form>
    </div>
    
<%- include('layouts/footer'); -%>