<%- include('layouts/header'); -%> <% if (isAuthenticated) { %>
<section class="account__nav-bar">
    <div class="account__nav-bar__nav">
        <a href="javascript:void(0);" id="log-out">Log out</a>
    </div>
</section>
<% } %>

<section class="api-key-table-section">
    <agcamacho-api-key-table></agcamacho-api-key-table>
</section>

<%- include('layouts/footer'); -%>
