/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./scss/styles.scss ***!
  \***********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap);
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./scss/styles.scss (1) ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap);
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./scss/styles.scss (2) ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap);
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./scss/styles.scss (3) ***!
  \***************************************************************************************************************/
html,
body {
  margin: 0;
  padding: 0; }

h1 {
  color: green; }

#server-side-mode {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.8rem; }

#login-reg-form {
  margin-top: 90px;
  font-size: 14px; }

/*
 * Site colors
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define visible focus styles
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1em; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center !important; }

b, .bold-600 {
  font-weight: 600; }

.h2__default {
  font-family: Roboto;
  font-size: 26px; }

p {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 0.5px; }

ul {
  margin-bottom: 10px;
  padding-left: 40px;
  list-style: disc;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 0.5px; }

ol {
  margin-bottom: 10px;
  padding-left: 40px;
  list-style: decimal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 0.5px; }

figcaption {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: right;
  font-style: italic; }

.cta__default {
  padding: 7px 13px;
  background-color: #fff;
  border: 3px solid #0038ff;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 600;
  color: #0038ff;
  text-decoration: none;
  display: inline-block; }
  @media (min-width: 760px) {
    .cta__default {
      padding: 10px 17px;
      font-size: 1.2em; } }
  .cta__default:hover {
    color: #fff;
    background-color: #0038ff; }

#modal {
  height: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out; }

#modal:target {
  opacity: 1;
  top: 175px;
  visibility: visible; }
  @media (min-width: 1080px) {
    #modal:target {
      top: 220px; } }

#modal .header,
#modal .footer {
  border-bottom: 1px solid #1abc9c;
  border-radius: 5px 5px 0 0; }

#modal .footer {
  border: none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px; }

#modal h2 {
  margin: 0;
  color: #fff; }

#modal .btn {
  float: right; }

#modal .copy,
#modal .header,
#modal .footer {
  padding: 10px;
  color: #fff; }

.modal-content {
  background: #34bc9d;
  position: relative;
  z-index: 20;
  border-radius: 5px;
  color: #fff; }

#modal .copy {
  padding: 20px 0;
  background: #eff2f7; }

#modal .overlay {
  background-color: #000;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.copy a {
  padding: 7px 14px;
  color: #3b3b3b;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  background-color: #ffffff;
  border: 5px solid #9a9a9a; }
  .copy a:hover {
    color: #fff;
    background-color: #9a9a9a; }

.sib-form {
  padding: 15px 15px 0 !important; }
  @media (min-width: 600px) {
    .sib-form {
      padding: 32px 12px 0 !important; } }

.button-blue {
  color: #fff;
  border: 2px solid #2d6cc5;
  background-color: #398cff; }
  .button-blue .fa-spinner {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
    .button-blue .fa-spinner:before {
      font-size: 0.9em; }
  .button-blue:hover {
    background-color: #398cff; }
  .button-blue:active {
    background-color: #2d6cc5; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.app-title-bar {
  padding: 21px;
  background-color: #006c91; }
  .app-title-bar span {
    display: block; }
  .app-title-bar__content {
    color: #fff; }
    .app-title-bar__content__title {
      margin-bottom: 8px;
      font-size: 1.3em;
      font-weight: 600; }
    .app-title-bar__content__author {
      font-size: 1em; }

.nav-bar a {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1e375a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-bar a:hover {
    color: #2364d2; }

.form-intro-section {
  margin-bottom: 70px;
  padding: 20px;
  background-color: #ddd; }
  .form-intro-section__content-wrapper {
    width: 830px;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #abab07;
    background-color: #525228;
    text-align: left;
    color: yellow; }

.allinone-auth {
  width: 500px;
  margin: 0 auto;
  display: block; }
  .allinone-auth .login-reg-form__component-error {
    border: 3px solid red;
    background-color: #ffe0e0;
    color: red;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
    margin-bottom: 20px; }
  .allinone-auth .login-reg-form__header {
    text-align: left; }
    .allinone-auth .login-reg-form__header__title {
      margin-bottom: 10px;
      font-size: 1.6em;
      font-weight: 600; }
    .allinone-auth .login-reg-form__header__description {
      margin-bottom: 20px;
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.4em;
      color: #1e1e1e; }
  .allinone-auth .login-reg-form__general-message {
    border: 3px solid red;
    background-color: #ffe0e0;
    color: red;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
    margin-bottom: 20px; }
  .allinone-auth .login-reg-form__form {
    margin-bottom: 35px; }
    .allinone-auth .login-reg-form__form__input-wrapper {
      position: relative;
      height: 43px;
      margin-bottom: 25px; }
    .allinone-auth .login-reg-form__form__input {
      width: 100%;
      padding: 9px 0px 9px 37px;
      font-size: 1.1em; }
      .allinone-auth .login-reg-form__form__input.invalid {
        border-color: #ff0000;
        background-color: #ffecec; }
    .allinone-auth .login-reg-form__form__input-icon {
      position: absolute;
      bottom: 15px;
      left: 13px;
      font-size: 1em; }
    .allinone-auth .login-reg-form__form__input-icon-eye {
      position: absolute;
      bottom: 15px;
      right: 13px;
      font-size: 1em;
      cursor: pointer; }
    .allinone-auth .login-reg-form__form__validation-msg {
      position: absolute;
      bottom: -17px;
      left: 0px;
      font-size: 0.8em;
      color: red; }
    .allinone-auth .login-reg-form__form__submit {
      width: 100%;
      padding: 9px;
      font-size: 1.1em; }
    .allinone-auth .login-reg-form__form__reset-password, .allinone-auth .login-reg-form__form__back-to-login, .allinone-auth .login-reg-form__form__create-account {
      font-size: 1.2em;
      margin-bottom: 20px;
      font-weight: 600; }
      .allinone-auth .login-reg-form__form__reset-password a, .allinone-auth .login-reg-form__form__back-to-login a, .allinone-auth .login-reg-form__form__create-account a {
        text-decoration: none;
        color: #398cff; }
        .allinone-auth .login-reg-form__form__reset-password a:hover, .allinone-auth .login-reg-form__form__back-to-login a:hover, .allinone-auth .login-reg-form__form__create-account a:hover {
          color: #2364d2; }

.home-logged-in-message h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 30px; }

.home-logged-in-message p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600; }
  .home-logged-in-message p a {
    text-decoration: none;
    color: #398cff; }
    .home-logged-in-message p a:hover {
      color: #2364d2; }

.api-key-table__toolbar {
  margin-bottom: 20px; }
  .api-key-table__toolbar__generate {
    width: 180px;
    padding: 5px 0;
    font-size: 1em;
    font-weight: 600; }


/*# sourceMappingURL=main.css.map*/