html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

#server-side-mode {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.8rem;
}

#login-reg-form {
    margin-top: 90px;
    font-size: 14px;
}

// LessHat
// @import "libs/lesshat/lesshat.less";
// @import "libs/lesshat/lesshat-prefixed.less";

// // Variables, Functions, and Mixins
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

// // Paddings, Margins, and Alignments
// @import "helpers/helpers";

// // Reset
@import "base/reset";

// // Animate
// @import "libs/animate/animate.less";

// // Slick
// // @import "libs/slick/slick.less";
// // @import "libs/slick/slick-theme.less";

// // Magnific Popup
// @import "libs/magnific-popup/magnific-popup.less";

// // Malihu Custom Scrollbar
// // @import "libs/malihu-custom-scrollbar/malihu-custom-scrollbar.less";

// // Mmenu
// // @import "libs/mmenu/jquery.mmenu.all.less";

// // Font Awesome
// @import "libs/font-awesome/font-awesome.less";

// // Base
@import "base/fonts";
@import "base/base";
@import "base/typography";
// @import "base/links";
// @import "base/table";
// @import "base/forms";
// @import "base/rf-internal-forms";

// // Layout
// @import 'layout/header';
// @import 'layout/banner';
// @import 'layout/footer';
// @import 'layout/content';

// // Pages
// @import 'pages/home';
// @import 'pages/contact';
// @import 'pages/tos-pp';

// // Module
@import "module/buttons";
@import "module/modal";
// @import "module/protest-banner.scss";
// @import "module/protest-instructions";
// @import "module/protest-locations";
// @import "module/protest-printables";

// // State
// // @import "state/state";

.button-blue {
    color: #fff;
    border: 2px solid #2d6cc5;
    background-color: #398cff;

    .fa-spinner {
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &:before {
            font-size: 0.9em;
        }
    }

    &:hover {
        background-color: #398cff;
    }

    &:active {
        background-color: #2d6cc5;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.app-title-bar {
    padding: 21px;
    background-color: #006c91;

    span {
        display: block;
    }

    &__content {
        color: #fff;

        &__title {
            margin-bottom: 8px;
            font-size: 1.3em;
            font-weight: 600;
        }

        &__author {
            font-size: 1em;
        }
    }
}

.nav-bar {
    a {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        text-decoration: none;
        color: #1e375a;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        &:hover {
            color: #2364d2;
        }
    }
}

@mixin form-error-msg {
    border: 3px solid red;
    background-color: #ffe0e0;
    color: red;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
    margin-bottom: 20px;
}

@mixin form-nav {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

@mixin form-nav-links {
    text-decoration: none;
    color: #398cff;
}

@mixin form-nav-links-hover {
    color: #2364d2;
}

.form-intro-section {
    margin-bottom: 70px;
    padding: 20px;
    background-color: #ddd;

    &__content-wrapper {
        width: 830px;
        margin: 0 auto;
        padding: 30px;
        border: 5px solid #abab07;
        background-color: #525228;
        text-align: left;
        color: yellow;
    }
}

.allinone-auth {
    width: 500px;
    margin: 0 auto;
    display: block;

    .login-reg-form {
        &__component-error {
            @include form-error-msg;
        }

        &__header {
            text-align: left;

            &__title {
                margin-bottom: 10px;
                font-size: 1.6em;
                font-weight: 600;
            }

            &__description {
                margin-bottom: 20px;
                font-size: 1.1em;
                font-weight: 500;
                line-height: 1.4em;
                color: #1e1e1e;
            }
        }

        &__general-message {
            @include form-error-msg;
        }

        &__form {
            margin-bottom: 35px;

            &__input-wrapper {
                position: relative;
                height: 43px;
                margin-bottom: 25px;
            }

            &__input {
                width: 100%;
                padding: 9px 0px 9px 37px;
                font-size: 1.1em;

                &.invalid {
                    border-color: #ff0000;
                    background-color: #ffecec;
                }
            }

            &__input-icon {
                position: absolute;
                bottom: 15px;
                left: 13px;
                font-size: 1em;
            }

            &__input-icon-eye {
                position: absolute;
                bottom: 15px;
                right: 13px;
                font-size: 1em;
                cursor: pointer;
            }

            &__validation-msg {
                position: absolute;
                bottom: -17px;
                left: 0px;
                font-size: 0.8em;
                color: red;
            }

            // &__button-wrapper {}
            &__submit {
                width: 100%;
                padding: 9px;
                font-size: 1.1em;
            }

            &__reset-password,
            &__back-to-login,
            &__create-account {
                @include form-nav;

                a {
                    @include form-nav-links;

                    &:hover {
                        @include form-nav-links-hover;
                    }
                }
            }
        }
    }
}

.home-logged-in-message {
    h2 {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        @include form-nav;

        a {
            @include form-nav-links;
            &:hover {
                @include form-nav-links-hover;
            }
        }
    }
}

$tablewidth: 1100px;

.account {
    &__nav-bar {
        &__nav {
            width: $tablewidth;
            margin: 0 auto;
            text-align: right;
            a {
                @include form-nav-links;
                font-size: 1.2em;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    @include form-nav-links-hover;
                }
            }
        }
    }
}

.api-key-table {
    width: $tablewidth;
    margin: 0 auto;
    table {
        width: 100%;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th,
    td {
        border-color: #96d4d4;
    }
    tr th {
        background-color: #575757;
        color: white;
        font-size: 1em;
        font-weight: 700;
        border-color: #1c1c1c;
    }
    th {
        padding: 10px;
    }
    td {
        padding: 10px;
        font-size: 0.9em;
    }
    &__toolbar {
        margin-bottom: 20px;
        text-align: left;
        &__generate {
            width: 180px;
            padding: 5px 0;
            font-size: 1em;
            font-weight: 600;
        }
    }
    &__table-wrapper {
        border-collapse: collapse;
        border: 2;
    }
    &__header {
        &__column {
            &__apikeycreated {
                width: 17%;
            }
            &__apikey {
            }
            &__actions {
                width: 14%;
            }
        }
    }
    &__body {
        &__row {
            &__column {
                &__apikeycreated {
                }
                &__apikey {
                }
                &__actions {
                }
            }
        }
    }
}
